<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="tests.Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/taydogmus/IdeaProjects/testinium-master">
        <parameter name="browser" value="edge"></parameter>
        <classes>
            <class name="tests.TC01_Basket">
                <methods>
                    <include name="checkTrueSelectedBank"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>